body{
  background-color: rgb(83, 80, 80);
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-container {
  margin: 40px auto;
  text-align: center; 
  }
.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: rgb(139, 208, 28);
  justify-content: center;
  align-items: center;
  display: flex;
}
.winner {
  font-family: cursive;
  font-size: 24px;
  font-weight: bold;
  color: #0deb6ae5;
  margin-top: 20px;
}
.winner button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.winner button:hover {
  background-color: #45a049;
}
.scoreboard {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 10px;
}
.scoreboard div {
  margin: 0 10px; 
  font-family: cursive;
  color: aquamarine;
  }
.square:hover {
  background-color: #90e6ed;
}
